# SPDX-FileCopyrightText: 2020 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

/*

!/.devcontainer
!/.ci
!/.reuse
!/.gitignore
!/cmd
!/internal
!/internal/**/*.go
!/konnectivity-server
!/konnectivity-server/Dockerfile
!/CODEOWNERS
!/CONTRIBUTING.md
!/Dockerfile
!/LICENSE
!/LICENSES
!/README.md
!/VERSION
!/go.mod
!/go.sum
!/Makefile
!/.golangci.yaml
